main {
    margin-top: 4rem;
}

h1 {
    color: white;
    font-size: 5rem;
    margin-bottom: 0;
    text-shadow: 1px 0px 3px black;
}

h3 {
    color: white;
    letter-spacing: 0.15rem;
    text-shadow: 0.5px 0px 2px black;
}
